<article>
	<div class='container resume'>		
		<h3>October 09, 2011</h3>
		<br />
		<h4>Janna Haley</h4>
		<h4>Capital One</h4>
		<br />Dear Janna Haley,
		<p>This letter is to express my interest in the mobile UI designer position at Capital One. I was recently made aware of the opening by my friend David Odden, whom you recently hired. The opportunity sounds very interesting, and I hope that my experience with web technologies and design would make me strong candidate. I would love the opportunity to work on a design and development team.</p>

		<p>I currently work as a &#8216;Genius&#8217; at the Apple Store Short Pump Town Center. It's a lofty title to live up to, but at this point in time I'd like to think that I at least give the title a run for its money. While at Apple I have gained invaluable experiences in customer service and team situations. The Genius team works very closely with one another, and I have become the go to guy for difficult situations, repairs and customers. I consistently have among the highest (if not the highest) customer survey scores on the team. Early in my time at Apple I developed an application that made digital a paperwork process within the store. It worked over the store's local network to allow easy entry of the customer's information after a sale so that a data transfer or a ram install could be performed. It provided features to track the service while it was in the store via an iTunes style interface and even generate final pickup paperwork and labels. It was even deployed within the store and used for several months before a corporate designed system and service restructuring replaced it.</p>
			
		<p>But that is far from the start of my interest in development. I wrote my first mobile application when I was in seventh grade, on a TI-83+. I spent the next several years building applications for it. At some point in early high school I found Netscape Navigator's HTML editor. It was WYSIWYG but for what webpages did in those days it mostly sufficed. I made websites for my calculator apps at first, and then later for my father's design firm and even my own high school's official page. I went from HTML generated in WYSIWYG editors like Netscape's and Dreamweaver to hand-coding HTML, PHP, CSS (my personal favorite), and even Ruby on Rails more recently.</p>

		<p>I am eager for the opportunity to work in a new team setting with a new goal. I hope you find my experience and skills a match for the position. I strongly urge you to checkout the work posted on my website; I believe it represents some of the finer projects I have completed. I also have more work available for review upon request. I hope to hear from you soon.</p>
		
		
		<br />Hope to speak soon,
		<br />
		<br />Nathan Crank
		<br />me@nathancrank.com

	</div>
</article>