<article>
	<div class='container resume'>
		<h5 id='email'>me@nathancrank.com</h2>
		<h2>Employment History</h2>
	
	<div class='column_one'>
		<h3>Design &amp; Web</h3>
		
		<h3>Web Site Consultant</h3>
		<h4>The 1717 Design Group, Richmond, Virginia</h4>
		<h5><a href='http://1717design.com'>View 1717 Design's Web Site</a></h5>
		<h5>May 2011 to June 2011</h5>
		<ul>
			<li>Developed css3 and html5 templates for production artists  
			<li>Developed javascript, jquery and css solutions for site interaction and animation  
			<li>Consulted with client to improve website usability, analytics and SEO
		</ul>

		<h3>Freelance Illustrator</h3>
		<h4>CareerRocketeer.com, Dover, New Jersey</h4>
		<h5>December 2008 to March 2009</h5>
		<ul>
			<li>Developed and illustrated brand and sub-brand logos  
			<li>Recognized on jobmob.co.il as one of the Top 105 Most Beautiful Company Logos in Job Search, Recruitment and Human Resources
		</ul>

		<h3>Web Designer</h3>
		<h4>Lynchburg College, Lynchburg, Virginia</h4>
		<h4>School of Communications</h4>
		<h5>September 2005 to December 2006</h5>
		<ul>
			<li>Redesigned appearance and updated content of School of Communications website
			<li>Coded html and css solutions that were compatible with the schools content management system
		</ul>
		
		<h3 id='skills'>Skills</h3>
		<ul>
			<li>html5
			<li>css3
			<li>javascript | jquery
			<li>ruby on rails
			<li>php | mysql
			<li>photoshop
			<li>mac | linux | unix
		</ul>
	</div>
	
	<div class='column_two'>
		<h3>Apple</h3>
		
		<h3>Genius</h3>
		<h4>Apple Store Short Pump Town Center, Henrico, Virginia</h4>
		<h5>August 2007 to Present</h5>
		<ul>
			<li>Assisted thousands of customers with diagnostics and technical training at the Genius Bar  
			<li>Performed repairs on thousands of Macs  
			<li>Trained employees on Apple’s internal systems and processes for troubleshooting and repair  
			<li>Assisted with new Genius training and Genius Room setup at Apple Store Georgetown’s Grand Opening  
			<li>Implemented Genius Room systems such as Open Directory server  
			<li>Developed and implemented Service Board, a web app that managed services such as ram installs and data transfers in the store
			<li>Created bug tracker and training and support materials for Service Board
			<li>Developed Service Board with CSS, HTML and FileMaker Pro
		</ul>
		
		<h3>Specialist</h3>
		<h4>Apple Store Short Pump Town Center, Henrico, Virginia</h4>
		<h5>April 2007 to August 2007</h5>
		<ul>
			<li>Assisted customers with finding Apple-based solutions  
			<li>Educated and sold customers on additional services provided by the Apple Store  
		</ul>
		
		<h3>Mac Support Intern</h3>
		<h4>Extensive Consulting Group, Richmond, Virginia</h4>
		<h5>January 2007 to March 2007</h5>
		<ul>
			<li>Shadowed and assisted Mac Consultant, with both on-site and in-house Mac and network services  
		</ul>
		
		<h3 id='github'>GitHub</h3>
			<a href='http://github.com/nathancrank/'>Visit GitHub to see code I have written</a>
		
	</div>
	
	</div>
</article>

<article class='print_hide'>
	<div class=container>
		<h1>Download</h1>
	</div>
	<div class=container>
		<%= link_to("/assets/nathancrank.resume.pdf") do %>
		<div class=connect_button>PDF</resume>
		<% end %>
	</div>
	<div class=container>
		<%= link_to("/assets/nathancrank.resume.doc") do %>
		<div class=connect_button>Doc</resume>
		<% end %>
	</div>
</article>