<article>
	<div class='container resume'>
		<h5 id="email">me@nathancrank.com</h2>
		<h2 id="employmenthistory">Employment History</h2>
	
	<div class="column_one">
		<h3 id="designandweb">Design &amp; Web</h3>
		
		<h3 id="websiteconsultant">Web Site Consultant</h3>
		<h4 id="the1717designgrouprichmondvirginia">The 1717 Design Group, Richmond, Virginia</h4>
		<h5 id="may2011tojune2011">May 2011 to June 2011</h5>
		<ul>
			<li>Developed CSS and HTML templates for production artists  </li>
			<li>Developed javascript and css solutions for site interaction and animation  </li>
			<li>Consulted with client to improve website usability and SEO  </li>
		</ul>

		<h3 id="freelanceillustrator">Freelance Illustrator</h3>
		<h4 id="careerrocketeer.comdovernewjersey">CareerRocketeer.com, Dover, New Jersey</h4>
		<h5 id="december2008tomarch2009">December 2008 to March 2009</h5>
		<ul>
			<li>Developed and illustrated brand and sub-brand logos  </li>
			<li>Recognized on jobmob.co.il as one of the Top 105 Most Beautiful Company Logos in Job Search,  Recruitment and Human Resources</li>
		</ul>
		
		<h3 id="contractgraphicartist">Contract Graphic Artist</h3>
		<h4 id="the1717designgrouprichmondvirginia">The 1717 Design Group, Richmond, Virginia</h4>
		<h5 id="july2006toaugust2006">July 2006 to August 2006</h5>
		<ul>
			<li>Generated architectural renderings for signage package in Illustrator using CAD generated plans  </li>
		</ul>

		<h3 id="webdesigner">Web Designer</h3>
		<h4 id="lynchburgcollegelynchburgvirginia">Lynchburg College, Lynchburg, Virginia</h4>
		<h4 id="schoolofcommunications">School of Communications</h4>
		<h5 id="september2005todecember2006">September 2005 to December 2006</h5>
		<ul>
			<li>Redesigned appearance and updated content of department website</li>
		</ul>
	</div>
	
	<div class="column_two">
		<h3 id="apple">Apple</h3>
		
		<h3 id="macgenius">Mac Genius</h3>
		<h4 id="applestoreshortpumptowncenterhenricovirginia">Apple Store Short Pump Town Center, Henrico, Virginia</h4>
		<h5 id="august2007topresent">August 2007 to Present</h5>
		<ul>
			<li>Assisted thousands of customers with diagnostics and technical training at the Genius Bar  </li>
			<li>Performed repairs on thousands of Macs  </li>
			<li>Trained employees on Apple’s internal systems and processes for troubleshooting and repair  </li>
			<li>Assisted with new Genius training and Genius Room setup at Apple Store Georgetown’s Grand Opening  </li>
			<li>Implemented Genius Room systems such as Open Directory server  </li>
			<li>Developed network application to process post-sale data transfer and installation services  </li>
		</ul>
		
		<h3 id="macspecialist">Mac Specialist</h3>
		<h4 id="applestoreshortpumptowncenterhenricovirginia">Apple Store Short Pump Town Center, Henrico, Virginia</h4>
		<h5 id="april2007toaugust2007">April 2007 to August 2007</h5>
		<ul>
			<li>Assisted customers with selecting appropriate Mac  </li>
			<li>Educated and sold customers on additional services provided by the Apple Store  </li>
		</ul>
		
		<h3 id="paidintern">Paid Intern</h3>
		<h4 id="extensiveconsultinggrouprichmondvirginia">Extensive Consulting Group, Richmond, Virginia</h4>
		<h5 id="january2007tomarch2007">January 2007 to March 2007</h5>
		<ul>
			<li>Shadowed and assisted Mac Consultant, with both on-site and in-house Mac and network services  </li>
		</ul>

		<h3 id="skills">Skills</h3>
		<ul>
			<li>css3</li>
			<li>html5</li>
			<li>ruby on rails</li>
			<li>php/mysql</li>
			<li>photoshop</li>
		</ul>
	</div>

	</div>
</article>

<article class=print_hide>
	<div class=container>
		<%= link_to("/assets/nathancrank.resume.pdf") do %>
		<div class=resume_button>Download PDF</resume>
		<% end %>
	</div>
</article>