/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /* Styles */
  header h1:first-child {
    color: #acc0c7;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 136px;
    padding-top: 50px; }
  header h1:nth-child(2) {
    color: #404f6d;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 165px; }
  header nav {
    margin-top: -145px;
    font-size: 30px; }

  footer h1:first-child {
    color: #acc0c7;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 136px;
    padding-top: 50px; }
  footer h1:nth-child(2) {
    color: #404f6d;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 165px; }
  footer nav {
    margin-top: -130px;
    font-size: 30px; }

  .container {
    margin: 0 auto;
    width: 320px;
    padding: 0 50px; }
    .container .article_body {
      width: 100%;
      margin-top: 30px;
      text-align: justify;
      font-size: 18px; }
    .container .article_header {
      text-align: center;
      font-size: 72px; }
    .container .article_url {
      text-align: center; }
    .container .article_summary {
      float: left;
      width: 100%; }

  .resume_button {
    width: 208px; }

  .resume .column_one {
    float: left;
    width: 100%; }
  .resume .column_two {
    float: left;
    width: 100%; } }
/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
  header h1:first-child {
    color: #acc0c7;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 177px;
    padding-top: 50px; }
  header h1:nth-child(2) {
    color: #404f6d;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 214px; }
  header nav {
    margin-top: -195px;
    font-size: 43px; }

  footer h1:first-child {
    color: #acc0c7;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 177px;
    padding-top: 50px; }
  footer h1:nth-child(2) {
    color: #404f6d;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 214px; }
  footer nav {
    margin-top: -195px;
    font-size: 43px; }

  .container {
    margin: 0 auto; }

  .resume_button {
    width: 288px; } }
/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles */
  .container {
    width: 930px; }
    .container .article_body {
      width: 450px; }
    .container .article_header {
      text-align: right;
      font-size: 70px; }
    .container .article_url {
      text-align: right; }
    .container .article_summary {
      float: right;
      width: 430px; }

  .resume .column_one {
    float: left;
    width: 430px; }
  .resume .column_two {
    float: right;
    width: 430px; } }
/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* Styles */
  .container {
    width: 880px; }
    .container .article_body {
      width: 100%;
      margin-top: 30px;
      text-align: justify;
      font-size: 24px; }
    .container .article_header {
      text-align: center;
      font-size: 122px; }
    .container .article_url {
      text-align: center; }
    .container .article_summary {
      float: left;
      width: 100%; }

  .resume .column_one {
    float: left;
    width: 100%; }
  .resume .column_two {
    float: left;
    width: 100%; } }
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  /* Styles */
  header h1:first-child {
    color: #acc0c7;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 177px;
    padding-top: 50px; }
  header h1:nth-child(2) {
    color: #404f6d;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 214px; }
  header nav {
    margin-top: -195px;
    font-size: 43px; }

  footer h1:first-child {
    color: #acc0c7;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 177px;
    padding-top: 50px; }
  footer h1:nth-child(2) {
    color: #404f6d;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 214px; }
  footer nav {
    margin-top: -195px;
    font-size: 43px; }

  .container {
    margin: 0 auto;
    width: 1200px; }
    .container .article_body {
      width: 670px; }
    .container .article_header {
      text-align: right;
      font-size: 70px; }
    .container .article_url {
      text-align: right; }
    .container .article_summary {
      float: right;
      width: 480px; }

  .resume_button {
    width: 288px; }

  .resume .column_one {
    float: left;
    width: 550px; }
  .resume .column_two {
    float: right;
    width: 550px; } }
/* medium Desktops and laptops ----------- */
@media only screen 
and (min-width : 984px)
and (max-width : 1224px) {
  /* Styles */
  header h1:first-child {
    color: #acc0c7;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 177px;
    padding-top: 50px; }
  header h1:nth-child(2) {
    color: #404f6d;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 214px; }
  header nav {
    margin-top: -195px;
    font-size: 43px; }

  footer h1:first-child {
    color: #acc0c7;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 177px;
    padding-top: 50px; }
  footer h1:nth-child(2) {
    color: #404f6d;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 214px; }
  footer nav {
    margin-top: -195px;
    font-size: 43px; }

  .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 50px; }
    .container .article_body {
      max-width: 500px; }
    .container .article_header {
      text-align: right;
      font-size: 70px; }
    .container .article_url {
      text-align: right; }
    .container .article_summary {
      float: right;
      width: 330px; }

  .resume_button {
    width: 288px; }

  .resume .column_one {
    float: left;
    max-width: 450px; }
  .resume .column_two {
    float: right;
    max-width: 450px; } }
/* xLarge screens -----------
@media only screen 
and (min-width : 1824px) {
/* Styles
	.container {
		margin: 0 auto;
		width: 1200px;
		
		img {
			width: 100%;
		}
	}
}

*/
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
  header h1:first-child {
    color: #acc0c7;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 177px;
    padding-top: 50px; }
  header h1:nth-child(2) {
    color: #404f6d;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 214px; }
  header nav {
    margin-top: -195px;
    font-size: 43px; }

  footer h1:first-child {
    color: #acc0c7;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 177px;
    padding-top: 50px; }
  footer h1:nth-child(2) {
    color: #404f6d;
    font-family: LeagueGothicRegular, Helvetica, Arial;
    text-transform: uppercase;
    line-height: 80%;
    font-size: 214px; }
  footer nav {
    margin-top: -195px;
    font-size: 43px; }

  .container {
    margin: 0 auto;
    width: 790px; }
    .container .article_body {
      width: 100%;
      margin-top: 30px;
      text-align: justify;
      font-size: 32px; }
    .container .article_header {
      text-align: center;
      font-size: 122px; }
    .container .article_url {
      text-align: center; }
    .container .article_summary {
      float: left;
      width: 100%; }

  .resume_button {
    width: 288px; }

  .resume .column_one {
    float: left;
    width: 100%; }
  .resume .column_two {
    float: left;
    width: 100%; } }
