/* this is all still very messy */

/* set variables */
/* main two colors for background */
$dark_color: #1C242A;
$light_color: #fcfcfc;
/* logo colors */
$color_one: #acc0c7;
$color_two: #404f6d;
/* font sets */
$leagueset: LeagueGothicRegular, "Helvetica Neue", Helvetica, Arial, san-serif;



/* load in frameworks */
/* normalize */
@import "normalize.css.scss";
/* dozen framework */
@import "dozen/dozen.css.scss";
/* semantic grid */
@import "grid.css.scss";
/* flexslider */
@import "flexslider.css.scss";
/* fonts */
@import "fonts.css.scss";



/* load indiviual page styles */
@import "resume.css.scss";



/* set default font */
body {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-weight: light;
}
/* add hyphens */
p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

/* container properties */
.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 50px;

}

/* coming soon template */
.coming_soon {
	font-family: $leagueset;
	margin-top: 50px;
	text-align: right;
	font-weight: bolder;
	font-size: 128px;
	color: #ddd;
	a {
		color: #ddd;
		text-decoration: none;
	}
	a:visited {
		color: #ddd;
	}
	a:hover {
		color: #ddd;
	}
}

/* header and footer logo mixin */
@mixin logo($bg_color, $lk_color) {
	font-family: $leagueset;
	background-color: $bg_color;
	text-align: right;
	height: 450px;
	.logo_top {
		color: $color_one;
		font-size: 177px;
		padding-top: 50px;
		text-transform: uppercase;
		line-height: 80%;
	}
	.logo_bottom {
		color: $color_two;
		font-size: 214px;
		text-transform: uppercase;
		line-height: 80%;
	}
	nav {
		margin-top: -195px;	
		font-size: 38px;
	}
	.nav_span {
		background-color: $bg_color;
		padding-top: 5px;
	}
	a {
		color: $lk_color;
		text-decoration: none;
		text-transform: capitalize;
	}
	a:first-child {
		padding-left: 10px;
		padding-right: 25px;
	}
	a:nth-child(2) {
		padding: 0 29px;
	}
	a:last-child {
		padding-left: 28px;
		padding-right: 5px;
	}
	a:visited {
		color: $lk_color;
	}
	a:hover {
		color: $lk_color;
	}
}

/* actual header code */
header {
	@include column(12);
	@include logo($dark_color, $light_color);
	.logo_top {
		color: $color_one;
		font-size: 177px;
	}
	.logo_bottom {
		color: $color_two;
		font-size: 214px;
	}
	nav {
		margin-top: -195px;
	}
}

/* actual footer code */
footer {
	@include column(12);
	@include logo($light_color, $dark_color);
 	.logo_top {
		color: $color_one;
		font-size: 177px;
	}
	.logo_bottom {
		color: $color_two;
		font-size: 214px;
	}
	nav {
		margin-top: -195px;
	}
}

/* article mixin */
@mixin article($af_color, $abg_color) {	
	/* af_color is font color, abg_color is background color */
	padding: 50px 0 50px 0;
	background-color: $abg_color;
	overflow: auto;
	p {
		padding-bottom: 0.5em;
		text-indent: 1.5em;
		
		a {
			text-decoration: none;
			color: $color_two;
			text-weight: bolder;
		}
	}
	p:first-child {
		padding-top: 0;
		text-indent: 0em;
	}
	
	.article_header {
		font-family: $leagueset;
		color: $af_color;
		font-size: 4.5em;
		/* iPads (portrait and landscape) ----------- */
		@media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) {
			/* Styles */ 
				font-size: 6.8em;
		}
		/* smartphones */
		@media only screen 
		and (min-device-width : 320px)
		and (max-device-width : 480px) {
				font-size: 6.8em;
		}
	}
	.article_url {
		padding-left: 20px;
		display: block;
		margin-top: 15px;
		text-decoration: none;
		color: $af_color;
		font-size: 24px;
		a { 
			text-decoration: none;
			color: $color_two;
			font-size: 24px;
		}
	}
	
	
	.article_body {
		float: left;
		color: $af_color;
		line-height: 170%;
		font-size: 1em;
		text-align: justify;
		/* smartphones */
		@media only screen 
		and (min-device-width : 320px)
		and (max-device-width : 480px) {
				font-size: 2.2em;
			}
		/* iPads (portrait) */
		@media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : portrait) {
				font-size: 1.3em;
			}
	}
}

/* actual article code, odd and even children alternate colors */
article {
	@include column(12);
}
article:nth-child(odd) {
	@include article($light_color, $dark_color);
}
article:nth-child(even) {
	@include article($dark_color, $light_color);
}
.article_body {
	@include column(7);
}
.article_header {
	text-align: right;
	font-size: 70px;
}
.article_url {
	text-align: right;
}
.article_summary {
	@include column(5);
}

/* connect buttons at bottom of page */
.connect_button {
	border: 1px solid $color_one;
	text-align: center;
	font-family: $leagueset;
	font-size: 42px;
	float: right;
	background-color: $light_color;
	padding: 10px 10px;
	margin: 0 0 0 50px;
	width: 149px;
}
.connect_footer {
	h1 {
		font: 62px $leagueset;
		color: $light_color;
		display: inline-block;
	}
	a {
		text-decoration: none;
		color: $dark_color;
	}
}