/* set variables */
/* main two colors for background */
$dark_color: #1C242A;
$light_color: #ffffff;
/* logo colors */
$color_one: #acc0c7;
$color_two: #404f6d;
/* font sets */
$leagueset: LeagueGothicRegular, "Helvetica Neue", Helvetica, Arial, san-serif;


/* load in frameworks */
@import "normalize.css.scss";
@import "dozen/dozen.css.scss";
@import "dozen/animation.css.scss";
@import "grid.css.scss";
@import "flexslider.css.scss";
@import "fonts.css.scss";
@import "roundedcorners.css.scss";


/* load page element styles */
@import "resume.css.scss";
@import "header.css.scss";



/* set default font */
body {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-weight: light;
	background: lighten($dark_color, 20%);
	/* background: url(defaultbackground.jpg);
	background-position:center; */
	padding-top: 70px;
}
/* add hyphens */
p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

/* container properties */
.container {
	margin: 0 auto;
	max-width: 1260px;
	padding: 0 50px;

}

/* article mixin */
@mixin article($af_color, $abg_color) {	
	/* af_color is font color, abg_color is background color */
	padding: 50px 0 50px 0;
	background-color: $abg_color;
	overflow: auto;
	p {
		padding-bottom: 0.5em;
		text-indent: 1.5em;
		
		a {
			text-decoration: none;
			color: $color_two;
			text-weight: bolder;
		}
	}
	p:first-child {
		padding-top: 0;
		text-indent: 0em;
	}
	
	.article_header {
		font-family: $leagueset;
		color: $af_color;
		font-size: 4.5em;
		/* iPads (portrait and landscape) ----------- */
		@media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) {
			/* Styles */ 
				font-size: 6.8em;
		}
		/* smartphones */
		@media only screen 
		and (min-device-width : 320px)
		and (max-device-width : 480px) {
				font-size: 6.8em;
		}
	}
	.article_url {
		padding-left: 20px;
		display: block;
		margin-top: 15px;
		text-decoration: none;
		color: $af_color;
		font-size: 24px;
		a { 
			text-decoration: none;
			color: $color_two;
			font-size: 24px;
		}
	}
	
	
	.article_body {
		float: left;
		color: $af_color;
		line-height: 170%;
		font-size: 1em;
		text-align: justify;
		/* smartphones */
		@media only screen 
		and (min-device-width : 320px)
		and (max-device-width : 480px) {
				font-size: 2.2em;
			}
		/* iPads (portrait) */
		@media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : portrait) {
				font-size: 1.3em;
			}
	}
}

/* actual article code, odd and even children alternate colors */
article {
	@include column(12);
	@include article($dark_color, $light_color);
}
article:first-child {
	margin-top: 50px;
}
.article_body {
	@include column(7);
}
.article_header {
	text-align: right;
	font-size: 70px;
}
.article_url {
	text-align: right;
}
.article_summary {
	@include column(5);
}

/* connect buttons at bottom of page */
.connect_button {
	border: 1px solid $color_one;
	text-align: center;
	font-family: $leagueset;
	font-size: 42px;
	float: right;
	background-color: $light_color;
	padding: 10px 10px;
	margin: 0 0 0 50px;
	width: 149px;
}
.connect_footer {
	h1 {
		font: 62px $leagueset;
		color: $light_color;
		display: inline-block;
	}
	a {
		text-decoration: none;
		color: $dark_color;
	}
}