<div class=logo_type>Nathan Crank</div>
<nav>
	
</nav>



<!-- 
<span class=nav_span>
	<%= link_to "portfolio", portfolio_path %>
	<%= link_to "resume", resume_path %>
	<%= link_to("http://www.linkedin.com/in/nathancrank") do %>
		linkedin
	<% end %>
</span>
-->
