<div class=logo_type>Nathan Crank</div>

<nav>
	<ul>
		<li><a href=#>Blog</a>
		<li><a href=#>Portfolio</a>
		<li class=nav_linkedin><a href=#>LinkedIn</a>
		<li class=nav_git><a href=#>Git</a>
		<li class=nav_mail><a href=#>Email</a>
	</ul>
</nav>
