<div class=logo_top>Nathan</div>
<div class=logo_bottom>Crank</div>
<nav>
	<span class=nav_span>
		<%= link_to "portfolio", portfolio_path %>
		<%= link_to "blog", blog_path %>
		<%= link_to "contact", contact_path %>
	</span>
</nav>