<div class=logo_top>Nathan</div>
<div class=logo_bottom>Crank</div>
<nav>
	<span class=nav_span>
		<%= link_to("http://www.royall.com/") do %>
			has an
		<% end %>
		<%= link_to("http://www.royall.com/") do %>
			awesome
		<% end %>
		<%= link_to("http://www.royall.com/") do %>
			new job
		<% end %>
	</span>
</nav>